.jist-control-list {
	margin: 0;
	padding: 0;
	display: block;
	list-style-type: none;
}
.jist-control-list .control-list-item  {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
}
/*for vertical toolbars*/
.jist-vertical .control-list-item  {
	clear:both;
}
.jist-control {
	position: relative;
}
.jist-control,
.jist-control .item,
.jist-control .text,
.jist-control .input,
.jist-control .control {
	display: block;
	float: left;
	height: 1.2em; /*height is explicit - inpart for IE and in part to unify select elements size etc*/
	
}


.jist-control .state-flag {/*use render off screen for state by default for buttons etc (background-images used instead for aesthetics)- menus will be different*/
	position: absolute;
	margin-left: -1000em;
	/*TODO: set this margin to 0 in ie6/7 no js*/
}
.jist-control .control,
.jist-control .control *{ /*this removes the default styling for buttons and inputs and does a bit of 'normalisation'*/
	background-color: transparent;
	border-width: 0;
	text-align: center;
	padding: 0; 
	margin: 0;
}
/*remove default padding and margins on IE controls*/
* html .jist-control span.text {
	display: block;
	
}
* html .jist-control button.control,
* html .jist-control input.input{
	width: 0;
	overflow: visible;
}
*+html .jist-control .control,
*+html .jist-control .input{
	width: auto;
	overflow: visible;
}
/* end IE*/

.jist-control .text {
 white-space: nowrap;
}
.jist-control .item,
.jist-control .item:active,
.jist-control .item:visited,
.jist-control .item:link,
.jist-control .input,
.jist-control .control
{/*get rid of default anchor/button/input colors (and make them consistent (ish)*/
	color: inherit;
    color: infotext;
	text-decoration: none;
}
.jist-control .access-key {/*if you use accesskeys in ems get rid of the italic and stick the underline on*/
	text-decoration: underline;
	font-style: normal;
}
.jist-control a.item,
.jist-control a.item:active,
.jist-control a.item:hover,
.jist-control a.item:focus,
.jist-control .control {/*remove dots wherever poss in anchors etc - no joy in old IEs of course (blur/focus javascript if you must)*/
	outline: 0;
}
/*preset positioning for sliding doors buttons (four way style)
	NOTE: 4 way is incorrect will need to drop to three way + icon
*/
.jist-control {
	background-repeat: repeat-x;
	background-position: left top;
}
.jist-control .item {
	background-repeat: repeat-x;
	background-position: left bottom;
}
.jist-control .control {
	background-repeat: repeat-y;
	background-position: left top;
}
.jist-control .input,
.jist-control .text {
	background-repeat: repeat-y;
	background-position: right top;
}